# Node / Yarn
/node_modules
/.pnp*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
!.yarn/sdks
.yarn-integrity

# Build outputs
/.next
/out
/build
build/Release
.lock-wscript
.grunt
bower_components
.cache
.parcel-cache
.serverless/
.fusebox/

# Logs / Reports
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
report.*.json

# Coverage / Instrumentation
/coverage
*.lcov
.nyc_output
lib-cov

# Runtime / Process
pids
*.pid
*.seed
*.pid.lock
.node_repl_history
*.tgz

# TypeScript / Lint caches
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# Env
.env*
!.env.example

# Serverless / Firebase / DB
.dynamodb/
.firebase/

# Dev tools
.tern-port
.vscode-test

# Vite
vite.config.*.timestamp-*

# Deployment
.vercel

# Next.js generated
next-env.d.ts
